<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>YiBlog</title>

    <link rel="stylesheet" th:href="@{~/layui/css/layui.css}">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header ">
        <div class="layui-logo layui-bg-green"><a th:href="@{/admin}" style="color: white">YIBLOG</a></div>
        <ul class="layui-nav layui-layout-right layui-bg-green">
            <li class="layui-nav-item">
                <a th:href="@{/}">
                    去前台
                </a>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item"><a class="" th:href="@{/admin}">概览</a></li>
                <li class="layui-nav-item"><a href="/admin/article">博客设置</a></li>
                <li class="layui-nav-item"><a href="/write">写博客</a></li>
                <li class="layui-nav-item"><a href="/admin/category">分类</a></li>
                <li class="layui-nav-item"><a href="/admin/comment">评论</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body layui-bg-gray">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <div class="layui-fluid">
                <div class="layui-row layui-col-space30">
                    <div class="layui-col-md4">
                        <div class="layui-card">
                            <div class="layui-card-header">文章</div>
                            <div class="layui-card-body" style="height: 80px">
                                <span style="font-size: 3em" th:text="${article_count}">0</span>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md4">
                        <div class="layui-card">
                            <div class="layui-card-header">评论</div>
                            <div class="layui-card-body" style="height: 80px">
                                <span style="font-size: 3em" th:text="${comment_count}">0</span>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md4">
                        <div class="layui-card">
                            <div class="layui-card-header">点击量</div>
                            <div class="layui-card-body" style="height: 80px">
                                <span style="font-size: 3em" th:text="${article_hits}" th:if="${article_hits} != null">0</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="layui-row">
                    <div class="layui-card">
                        <div class="layui-card-header" >操作日志</div>
                        <div class="layui-card-body" style="height:500px;overflow:auto;">
                            <li th:each="log : ${logs}">
                                <h3 th:text="${log.action}"></h3>
                                <h5 th:text="${#dates.format(log.time, 'yyyy-MM-dd HH:mm')}"></h5>
                                <hr class="layui-bg-red">
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<script th:src="@{~/layui/layui.js}"></script>
<script>
    //JavaScript代码区域
    layui.use('form', function(){
        var form = layui.form;
    })
    layui.use('element', function(){
        var element = layui.element;
    });
</script>
</body>
</html>