<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yi_blog.demo.mapper.ArticleMapper">
    <select id="queryArticleAll" resultType="article">
        select * from t_article order by updatetime desc
    </select>
    <select id="queryArticleOrderByCategory" resultType="article">
        select * from t_article order by category
    </select>
    <insert id="save" parameterType="article">
        insert into t_article (title,content,content_md,updatetime,category) values (#{title},#{content},#{content_md},#{updatetime},#{category})
    </insert>
    <select id="queryById" parameterType="int" resultType="article">
        select * from t_article where id = #{id}
    </select>
    <update id="edit_save" parameterType="article">
        update t_article set title = #{title},content = #{content},content_md = #{content_md} where id = #{id}
    </update>
    <delete id="delArticle" parameterType="int">
        delete from t_article  where id = #{id}
    </delete>
    <select id="count" resultType="int">
        select count(*) from t_article
    </select>
    <update id="hits" parameterType="int">
        update t_article set hits = hits+1 where id = #{id}
    </update>
    <select id="totalHits" resultType="int">
        select sum(hits) from t_article
    </select>
    <delete id="delArticleByCategoryId" parameterType="int">
        delete from t_article where category = #{category_id}
    </delete>
    <select id="queryByCategoryId" resultType="article">
        select * from t_article where category = #{category_id}
    </select>
    <select id="queryLike" parameterType="string" resultType="article">
        select * from t_article where title like #{keyWord} or category in (select category_id from t_category where name like #{keyWord})
    </select>
    <select id="queryTimeGroup" resultType="string">
        select YEAR (updatetime) from  t_article group by YEAR (updatetime)
    </select>
</mapper>