<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yi_blog.demo.mapper.CategoryMapper">
    <select id="queryAll" resultType="category">
        select * from t_category
    </select>
    <insert id="addCategory" parameterType="category">
        insert into t_category (category_id,name) values (#{category_id},#{name})
    </insert>
    <delete id="delCategoryById" parameterType="int">
        delete from t_category where category_id = #{category_id}
    </delete>
    <select id="queryById" parameterType="int" resultType="category">
        select * from t_category where category_id = #{category_id}
    </select>
</mapper>